@import "mixins";

body{
  font-family: 'Roboto', sans-serif;
}
// Aqui podemos definir el estilo que llevará todo el documento
@page {
  margin: 0;
  background-image: url('images/logo/laravel.svg');
}
// De la siguiente forma hacemos a una clase una página del documento, el nombre
// es opcional, en este caso es "page1" y aqui es donde se define si llevará
// encabezados o no, para no colocar alguno se escribe "_blank"
@page page1 {
  margin-header: 0; 
  header: html_MyHeader1;
  footer: _blank;
}
@page page2 {
  margin-top: 5%;
  margin-footer: 0; 
  header: _blank;
  footer: html_MyFooter1;
}
// Con el atributo "page", le asignamos la correspondiente página a la clase
.page1 {
  page: page1;
}
.page2 {
  page: page2;
}
// Estos son los estilos de mis encabezados, el cual al footer no le he podido
// poner la imagen de fondo.
.header, .footer{
  height: 4%;
  background-color: rgb(26, 26, 61);
  background-image: url('images/logo/laravel.svg');
}

.firmaR{
  @include firmas(left);
}

.firmaC{
  @include firmas(right);
}

.imagenFirma{
  width: 100%;
  max-height: 170px;
}

.text-center{
  text-align: center;
}
.text-justify{
  text-align: justify;
}

@for $i from 0 through 5 {
  .m-#{$i} {
    margin: 10px * $i;
  }
  .mt-#{$i} {
    margin-top: 10px * $i;
  }
  .mb-#{$i} {
    margin-bottom: 10px * $i;
  }
  .ml-#{$i} {
    margin-left: 10px * $i;
  }
  .mr-#{$i} {
    margin-right: 10px * $i;
  }
  .mx-#{$i} {
    margin: 0px 10px * $i;
  }
  .my-#{$i} {
    margin: 10px * $i 0px;
  }
}
